:root {
  --swiper-navigation-size: 36px;
}
.trendcss {
  width: 14rem;
}
.slide {
  width: 9rem;
}
.swiper-button-prev,
.swiper-button-next {
  color: white;
  background: #000000;
  width: 60px;
  display: none;
  top: 0;
  margin-top: 0;
  height: 100%;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  display: flex;
}

.swiper-button-prev {
  background: linear-gradient(to right, rgb(17, 17, 17), transparent);
}
.swiper-button-next {
  background: linear-gradient(to left, rgb(17, 17, 17), transparent);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ed0909;
}
.swiper-button-disabled {
  opacity: 0;
}

.hover-container {
  opacity: 1;
  transform: scale(0.8);
  transition: opacity 0.1s ease-in-out, transform 0.3s ease-in-out;
}

.hover-container:hover {
  transition: 5s ease-in-out;
}

.animate {
  animation: sideView;
  animation-timing-function: ease-in-out;
  animation-duration: 1000ms;
}
.aspectRatio {
  aspect-ratio: 5/3;
}
@keyframes sideView {
  0% {
    right: -100px;
  }
  100% {
    right: 0;
  }
}

@media (max-width: 500px) {
  .slide {
    width: 6rem;
  }
  .trendcss {
    width: 9rem;
  }

  .swiper:hover .swiper-button-next,
  .swiper:hover .swiper-button-prev {
    display: none;
  }
}
